

<div class="container-fluid">
<div class="world "> 

    <img class="rounded" src="assets/world.jpg" alt=" " width="100%" height="100%">
    <div class="North-America">
            <a [routerLink]="['/region','north-america']" class="btn "><b>North America</b></a>  
    </div>
    <div class="Europe">
            <a [routerLink]="['/region','europe']" class="btn "><b>Europe</b></a>  
    </div>
    <div class="Asia">
            <a [routerLink]="['/region','asia']" class="btn "><b>Asia</b></a>  
    </div>
    <div class="Africa">
            <a [routerLink]="['/region','africa']" class="btn"><b>Africa</b></a>  
    </div>
    <div class="South-America">
            <a [routerLink]="['/region','south-america']" class="btn "><b>South America</b></a>  
    </div>
    <div  class="Oceania">
            <a [routerLink]="['/region','oceania']" class="btn "><b>Oceania</b></a>  
    </div>
</div>
</div>