img{
   
    border-radius:15px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
h2{
    text-shadow: 2px 2px 5px red;

}

.info{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:15px; 
    background: lightgoldenrodyellow;

}
.back{
    color: white;
}